@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
/* font-family: 'Salsa', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300;400;500;600;700&display=swap');
/* font-family: 'Marhey', sans-serif;  arabic */

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* font-family: 'Tajawal', sans-serif; arabic */

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Quicksand', sans-serif;
    background: #f6f6f6d4;
}
@media (max-width:767px){
body
{
    background: #f6f6f6d4;
}
}

ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
.container
{
    max-width: 1199px;
    margin:0 auto;
    padding: 0;

}